entrypoint = "main.py"
modules = ["python-3.11"]
run = ["uv", "run", "langflow", "run"]

[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "xcodebuild", "zlib"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 7860
externalPort = 80
exposeLocalhost = true

[agent]
expertMode = true
